*{
  margin: 0px;
}
input{
  min-width: 200px;
  max-width: 500px;
  height: 35px;
  padding-left: 20px;
  font-size: larger;
  font-family: "Roboto";
  margin-top: 20px;
  border:transparent;
}
button{
  background-color: blue;
  min-width: 150px;
  max-width: 200px;
  color: bisque;
  border-radius: 8px;
  height: 30px;
  margin-top: 20px;
  border: none;
  margin-bottom: 20px;
  
   
}
.imgBack{
  background-image: url("https://res.cloudinary.com/srikanth143/image/upload/v1665745257/frozen-201495_swtpiu.jpg");
  height: 513px;
   
  width: 100vw;
  background-size: cover;
  padding-top: 200px;
}
.final{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
}